body{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
#root{
  width:400px;
  padding:20px 10px;
background-color: antiquewhite;
text-align: center;
}